{% extends "account/_auth_base.html" %}
{% block title %}Check your email{% endblock %}
{% block side_heading %}Almost there.{% endblock %}
{% block side_text %}Follow the link in your email to set a new password.{% endblock %}

{% block content %}
<h1>Check your email</h1>
<p class="lede">If that email has an account, a reset link is on its way. It can take a few minutes, so check your spam folder too.</p>
<a href="{% url 'account_login' %}" class="btn-continue">Back to log in</a>
<p class="auth-alt">Didn't get it? <a href="{% url 'account_reset_password' %}">Send it again</a></p>
{% endblock %}
